<% layout("/layouts/boilerplate")%>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br>
      <h3>Create a New Listing</h3>
      
      <form class="needs-validation" method="POST" action="/listings" novalidate >
          
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Add a catchy Title" type="text" class="form-control"
          required/>
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Title name should be valid!</div>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control" required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="Image" class="form-label">Image Link</label>
          <input
          name="listing[image]"
          placeholder="You can enter your Image Link"
          type="text" class="form-control"
          />
          <div class="valid-feedback">Default Image will be added</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>        
            <input name="listing[price]" placeholder="e.g, 1200" type="number" class="form-control" required/>
            <div class="invalid-feedback">Price should be valid!</div>
          </div>
          
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>                
            <input name="listing[country]" placeholder="e.g, India" type="text" class="form-control" required/>
            <div class="invalid-feedback">Country should be valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>                        
          <input
          name="listing[location]"
          placeholder="e.g, Jaipur, Rajasthan"
          type="text"
          class="form-control"
          required
          />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <br>
        <br>

        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br>
        <br>
      </form>
    </div>
  </div>
</body>
</html>